$Eerie_Black: rgba(#252525, .99)
$Davys_Grey: #4F4F4F
$Davys_Grey_New: #a3a3a3
$Blue_Bell: #8D91C7
$Uranium_Blue: #B0DAF1
$Mindaro: #DDFCAD

$p1-normal: #2ea44f



// When you realize you went too far
// https://codepen.io/jakealbaugh/post/css4-variables-and-sass
//:root
//	--p1-normal: #2ea44f
//	--p1-hover: #2c974b
//	--p1-disable: #94d3a2
//	--p2-normal: #302ea4
//	--p2-hover: #2c4597
//	--p2-disable: #94b1d3

@function cssVar($name)
	@return var(--#{$name})



html
	background-image: url(/src/background.svg)
	background-repeat: repeat
	background-color: $Eerie_Black
	width: 99vw
	height: 99vh
	overflow-x: hidden


textarea
	background-color: $Davys_Grey_New
	border: 2px solid black
	// https://codepen.io/devstreak/pen/dMYgeO
	&::-webkit-scrollbar
		width: 8px
	&::-webkit-scrollbar-track
		border-radius: 6px
		background-color: #e7e7e7
		border: 1px solid #cacaca
		box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
	&::-webkit-scrollbar-thumb
		border-radius: 6px
		background-color: #363636



body
	margin: 0
	padding: 90px 50px 50px 50px

	header
		position: absolute
		top: 0
		left: 0
		display: flex
		justify-content: space-between
		align-items: center
		margin: 0
		padding: 10px
		width: calc(100% - 20px)
		background-color: $Davys_Grey
		svg
			fill: #6495ED
		svg:hover
			fill: #4d78c6
			transition-duration: 100ms
		p
			font-size: 3em
			margin: 0
			color: $Mindaro

	#score
		display: flex
		justify-content: space-evenly
		align-items: center
		
		div.score
			padding: 10px
			margin: 0 0 10px 0
			border: 2px solid black
			border-radius: 10px
			p
				font-size: 3em
				margin: 0
				color: white
				padding: 0 20px
				text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
		div#gameID
			padding: 10px
			margin: 0 0 10px 0
			p
				font-size: 2em
				margin: 0
				padding: 0 20px
				color: $Uranium_Blue

	#arena
		border-style: solid
	.player
		position: absolute
	#ball
		aspect-ratio: 1
		position: absolute

	#infos
		display: flex
		text-align: center
		div
			flex: 1
		#controls
			width: 100%
			height: 100%
			#child-wrap
				display: flex
				flex-flow: column
				padding: 20px
			div#playerID
				padding: 10px
				margin: 0 0 10px 0
				p
					font-size: 2em
					margin: 0
					padding: 0 20px
					color: $Uranium_Blue
		#msg
			font-size: 2em
			color: $Uranium_Blue
		#custom
			display: flex
			flex-flow: column
			#button-wrapper
				padding: 20px
				button
					height: 40px
					width: 100px
				p
					flex-grow: 1
			textarea
				max-width: 100%
				height: 350px
				padding: 10px
				font-size: 16px
				line-height: 1.5
				border: 1px solid #ccc
				border-radius: 5px
				overflow: auto
				tab-size: 4
				resize: none



// https://getcssscan.com/css-buttons-examples
.ctrl
	button
		appearance: none
		border: 1px solid rgba(27, 31, 35, .15)
		border-radius: 6px
		box-shadow: rgba(27, 31, 35, .1) 0 1px 0
		box-sizing: border-box
		color: #fff
		display: inline-block
		font-size: 14px
		font-weight: 600
		line-height: 20px
		padding: 6px 16px
		position: relative
		text-align: center
		text-decoration: none
		user-select: none
		-webkit-user-select: none
		touch-action: manipulation
		vertical-align: middle
		white-space: nowrap
		width: 200px
		margin: 10px 5px
		&.p1
			background-color: cssVar(p1-normal)
		&.p2
			background-color: cssVar(p2-normal)
	button:disabled
		border-color: rgba(27, 31, 35, .1)
		color: rgba(255, 255, 255, .8)
		&.p1
			background-color: cssVar(p1-disable)
		&.p2
			background-color: cssVar(p2-disable)
	button:hover
		&.p1
			background-color: cssVar(p1-hover)
		&.p2
			background-color: cssVar(p2-hover)
	button:focus
		outline: none