@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html {
  background-image: url(/src/background.svg);
  background-repeat: repeat;
  background-color: rgba(37, 37, 37, 0.99);
  width: 99vw;
  height: 99vh;
  overflow-x: hidden;
}

textarea {
  background-color: #a3a3a3;
  border: 2px solid black;
}
textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #363636;
}

body {
  margin: 0;
  padding: 90px 50px 50px 50px;
}
body header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  width: 99vw;
  background-color: #4F4F4F;
}
body header svg#back {
  fill: #6495ED;
}
body header svg#back:hover {
  fill: #4d78c6;
  transition-duration: 100ms;
}
body header svg#github {
  padding: 0 20px 0 0;
}
body header svg#github path {
  fill: #24292f;
}
body header svg#github:hover path {
  fill: #000000;
  transition-duration: 100ms;
}
body header p {
  font-size: 3em;
  margin: 0;
  color: #DDFCAD;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
body header .empty {
  min-width: 48px;
}
body #score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body #score div.score {
  padding: 10px;
  margin: 7px 0 10px 0;
  border: 2px solid black;
  border-radius: 10px;
}
body #score div.score p {
  font-size: 3em;
  margin: 0;
  color: white;
  padding: 0 20px;
  text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000;
}
body #score div#gameID {
  padding: 10px;
}
body #score div#gameID p {
  font-size: 2em;
  margin: 0;
  padding: 0 20px;
  color: #B0DAF1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
body #arena {
  border-style: solid;
}
body .player {
  position: absolute;
}
body #ball {
  aspect-ratio: 1;
  position: absolute;
}
body #infos {
  display: flex;
  text-align: center;
}
body #infos div {
  flex: 1;
}
body #infos #controls {
  width: 100%;
  height: 100%;
}
body #infos #controls #child-wrap {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
body #infos #controls div#playerID {
  padding: 10px;
  margin: 0 0 10px 0;
}
body #infos #controls div#playerID p {
  font-size: 2em;
  margin: 0;
  padding: 0 20px;
  color: #B0DAF1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
body #infos #msg {
  font-size: 2em;
  color: #B0DAF1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
body #infos #custom {
  display: flex;
  flex-flow: column;
}
body #infos #custom #button-wrapper {
  padding: 20px;
}
body #infos #custom #button-wrapper button {
  height: 40px;
  width: 100px;
}
body #infos #custom #button-wrapper p {
  flex-grow: 1;
}
body #infos #custom textarea {
  max-width: 100%;
  height: 350px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  resize: none;
}

.ctrl button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
  margin: 10px 5px;
}
.ctrl button.p1 {
  background-color: var(--p1-normal);
}
.ctrl button.p2 {
  background-color: var(--p2-normal);
}
.ctrl button:disabled {
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
}
.ctrl button:disabled.p1 {
  background-color: var(--p1-hover);
}
.ctrl button:disabled.p2 {
  background-color: var(--p2-hover);
}
.ctrl button:hover.p1 {
  background-color: var(--p1-hover);
}
.ctrl button:hover.p2 {
  background-color: var(--p2-hover);
}
.ctrl button:focus {
  outline: none;
}

#cardwrap {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
#cardwrap a {
  text-decoration: none;
  background-position-y: 25%;
  background-position-x: center;
  margin: 50px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
#cardwrap p {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  color: #4d53ab;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#cardwrap div {
  padding: 75px;
  background-color: rgba(79, 79, 79, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: 7em;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
}
#cardwrap a:hover {
  transform: scale(1.05);
}

#lastwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#lastwrap img {
  padding: 100px 0 50px 0;
}
#lastwrap p {
  font-size: 2em;
  color: #B0DAF1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
}
#lastwrap a {
  color: #DDFCAD;
}/*# sourceMappingURL=style.css.map */